@import "~antd/dist/antd.css";

.all-cards {
  overflow: hidden;
  display: flex;
  margin-left: 10px;
}
.card {
  width: 34%;
  margin-right: 10px;
}

@media screen and (max-width: 500px) {
  .all-cards {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .card {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
